In [1]:
import pymysql

In [2]:
#DB 접속
host = 'host'
port = 3306
username = 'username'
database = 'production'
pw = 'pw'

conn = pymysql.connect(host=host, user=username, passwd=pw,
                      db=database, port=port,
                      use_unicode=True, charset='utf8')
cursor = conn.cursor()

In [3]:
# Artists Table 생성
qur = """
CREATE TABLE Artists (artist_id     VARCHAR(255), 
                      name          VARCHAR(255),
                      followers     INTEGER,
                      popularity    INTEGER,
                      url           VARCHAR(255),
                      image_url     VARCHAR(255),
                      PRIMARY KEY(artist_id));
"""
cursor.execute(qur)

0

In [4]:
# 생성 결과 확인
qur = 'SHOW TABLES;'
cursor.execute(qur)
cursor.fetchall()

(('Artists',),)

In [5]:
# Artist_genres Table 생성
qur = """
CREATE TABLE Artist_genres (artist_id     VARCHAR(255), 
                            genre         VARCHAR(255),
                            UNIQUE KEY (artist_id, genre),
                            FOREIGN KEY (artist_id) REFERENCES Artists(artist_id) ON DELETE CASCADE);
"""
cursor.execute(qur)

0

In [6]:
# 생성 결과 확인
qur = 'SHOW TABLES;'
cursor.execute(qur)
cursor.fetchall()

(('Artist_genres',), ('Artists',))

In [7]:
#DB 접속 해제
cursor.close()