- 조건문 기초

In [6]:
x = 3
if x>3:
    print(x)
    print("크다")
elif x==3:
    print('같다')
else:
    print(x)
    print('작다')

같다

In [7]:
if False:
    print(x)

In [8]:
if True:
    print(x)

3

In [11]:
#if 옆에 아무 값이나 들어오면 True 처리함
if '영희':
    print(x)

3

In [12]:
if 365:
    print(x)

3

In [14]:
#dict get했을때 값이 있고 없고 여부에 사용함
if None:
    print(x)

In [16]:
if 0 : #1 True 0 False
    print(x)

- 반복문

In [18]:
for i in [5,6,7]:
    print(i)

5
6
7

In [19]:
#tuple
k = (3, 4, 5)
for i in k :
    print('!')

!
!
!

In [26]:
#set
#set는 순서를 보존 안함. 내부적으로 인덱스가 없어서
s = {8, 7, 6, 5}
for i in s:
    print(i)

8
5
6
7

In [27]:
s = {8, 7, 6, 5, 4, 3, 2, 1}
for i in s:
    print(i)

1
2
3
4
5
6
7
8

In [28]:
d = {'영희':100, '철수':90, '길동':80}

for i in d:
    print(i)

영희
철수
길동

In [29]:
d.keys()

dict_keys(['영희', '철수', '길동'])

In [30]:
for i in d.keys():
    print(i)

영희
철수
길동

In [32]:
for i in d.values():
    print(i)

100
90
80

In [33]:
for i in d.items():
    print(i)

('영희', 100)
('철수', 90)
('길동', 80)

In [34]:
i

('길동', 80)

In [38]:
for name, score in d.items():
    print(name, ':', score)

영희 : 100
철수 : 90
길동 : 80

- range 범위보기

In [36]:
range(10)

range(0, 10)

In [37]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i, "X", j, "=", i*j)
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [46]:
x = 0
while x<3:
    print('!')
    print(x)
    x += 1

!
0
!
1
!
2

- 문자열 역순 출력

In [47]:
a = 'I love Python!'
a[::-1]

'!nohtyP evol I'

In [48]:
for i in a:
    print(i)

I

l
o
v
e

P
y
t
h
o
n
!

In [49]:
char = ''
for i in a:
    char = i + char

In [50]:
print(char)

!nohtyP evol I

- 십진수를 이진수로 변환 : 2 -> 10, 10 -> 1010

In [55]:
d = 10
result = ''
while d > 0 :
    r = d % 2
    d = d // 2 #몫
    result = str(r) + result
int(result)

1010

In [56]:
d = 10
result = 0
i = 0
while d > 0 :
    r = d % 2
    d = d // 2
    result = result + r * (10 **i)
    i += 1
result

1010

- 반복문 제어

In [59]:
#for랑 esle 같이 쓸수있음

for i in range(10):
    if i>10:
        break
    print(i)
else:
    print('끝')

0
1
2
3
4
5
6
7
8
9
끝

In [60]:
for i in range(10):
    if (i%2) == 0:
        continue
    print(i)

1
3
5
7
9

In [65]:
while True:
    a = int(input('1-9사이의 숫자를 입력하세요(0을 입력받으면 종료)'))
    if(a == 0):
        print('끝났습니다')
        break
    if not (a>=1 and a<=9): #a<1 or a>9
        print('다시 입력하세요')
        continue
    for i in range(1, 10):
        print(a, 'X', i, '=', a*i)

1-9사이의 숫자를 입력하세요(0을 입력받으면 종료)5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
1-9사이의 숫자를 입력하세요(0을 입력받으면 종료)15
다시 입력하세요
1-9사이의 숫자를 입력하세요(0을 입력받으면 종료)0
끝났습니다