In [1]:
import pandas as pd
import numpy as np

In [2]:
tr = pd.read_csv('data/acc_train.csv')
te = pd.read_csv('data/acc_test.csv')
df = pd.concat([tr,te])

In [3]:
df = df.set_index('my_id')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74485 entries, A000002 to A020850
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고일시       74485 non-null  object
 1   사고지역       74485 non-null  object
 2   사망자수       74485 non-null  int64
 3   중상자수       74485 non-null  int64
 4   경상자수       74485 non-null  int64
 5   부상신고자수     74485 non-null  int64
 6   사고유형       74485 non-null  object
 7   법규위반       74485 non-null  object
 8   노면상태       74485 non-null  object
 9   기상상태       73575 non-null  object
 10  도로형태       74485 non-null  object
 11  가해운전자차종    72734 non-null  object
 12  가해운전자성별    72738 non-null  object
 13  가해운전자연령    72727 non-null  float64
 14  가해운전자상해정도  70172 non-null  object
 15  피해운전자차종    72225 non-null  object
 16  피해운전자성별    72225 non-null  object
 17  피해운전자연령    72049 non-null  float64
 18  피해운전자상해정도  72225 non-null  object
 19  음주운전       59589 non-null  float64
dtypes: float64(3), int64(4), object(13)
memory usage: 11.9+ MB

In [5]:
df['사고일시'] = pd.to_datetime(df['사고일시'], format="%Y년 %m월 %d일 %H시", errors='coerce')
df.insert(0,'사고월', df['사고일시'].dt.month)
df.insert(1,'사고일', df['사고일시'].dt.day)
df.insert(2,'사고시각', df['사고일시'].dt.hour)
df.insert(3,'사고요일', df['사고일시'].dt.weekday)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74485 entries, A000002 to A020850
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고월        74485 non-null  int64
 1   사고일        74485 non-null  int64
 2   사고시각       74485 non-null  int64
 3   사고요일       74485 non-null  int64
 4   사고일시       74485 non-null  datetime64[ns]
 5   사고지역       74485 non-null  object
 6   사망자수       74485 non-null  int64
 7   중상자수       74485 non-null  int64
 8   경상자수       74485 non-null  int64
 9   부상신고자수     74485 non-null  int64
 10  사고유형       74485 non-null  object
 11  법규위반       74485 non-null  object
 12  노면상태       74485 non-null  object
 13  기상상태       73575 non-null  object
 14  도로형태       74485 non-null  object
 15  가해운전자차종    72734 non-null  object
 16  가해운전자성별    72738 non-null  object
 17  가해운전자연령    72727 non-null  float64
 18  가해운전자상해정도  70172 non-null  object
 19  피해운전자차종    72225 non-null  object
 20  피해운전자성별    72225 non-null  object
 21  피해운전자연령    72049 non-null  float64
 22  피해운전자상해정도  72225 non-null  object
 23  음주운전       59589 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(8), object(12)
memory usage: 14.2+ MB

In [7]:
df.select_dtypes('object').nunique()

사고지역         465
사고유형          17
법규위반          11
노면상태          11
기상상태           5
도로형태          11
가해운전자차종       11
가해운전자성별        2
가해운전자상해정도      5
피해운전자차종       13
피해운전자성별        3
피해운전자상해정도      6
dtype: int64

In [8]:
df['사고지역'] = df['사고지역'].str.split().str[0]
df.insert(10, '사고유형_대범주', df['사고유형'].str.split(' - ').str[0])
df.insert(15, '도로형태_대범주', df['도로형태'].str.split(' - ').str[0])
my_dict = {'사고유형':'사고유형_소범주',
           '도로형태':'도로형태_소범주'}
df = df.rename(columns=my_dict)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74485 entries, A000002 to A020850
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고월        74485 non-null  int64
 1   사고일        74485 non-null  int64
 2   사고시각       74485 non-null  int64
 3   사고요일       74485 non-null  int64
 4   사고일시       74485 non-null  datetime64[ns]
 5   사고지역       74485 non-null  object
 6   사망자수       74485 non-null  int64
 7   중상자수       74485 non-null  int64
 8   경상자수       74485 non-null  int64
 9   부상신고자수     74485 non-null  int64
 10  사고유형_대범주   74485 non-null  object
 11  사고유형_소범주   74485 non-null  object
 12  법규위반       74485 non-null  object
 13  노면상태       74485 non-null  object
 14  기상상태       73575 non-null  object
 15  도로형태_대범주   74485 non-null  object
 16  도로형태_소범주   74485 non-null  object
 17  가해운전자차종    72734 non-null  object
 18  가해운전자성별    72738 non-null  object
 19  가해운전자연령    72727 non-null  float64
 20  가해운전자상해정도  70172 non-null  object
 21  피해운전자차종    72225 non-null  object
 22  피해운전자성별    72225 non-null  object
 23  피해운전자연령    72049 non-null  float64
 24  피해운전자상해정도  72225 non-null  object
 25  음주운전       59589 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(8), object(14)
memory usage: 15.3+ MB

In [9]:
col = ['사고일시']
df = df.drop(columns=col)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74485 entries, A000002 to A020850
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고월        74485 non-null  int64
 1   사고일        74485 non-null  int64
 2   사고시각       74485 non-null  int64
 3   사고요일       74485 non-null  int64
 4   사고지역       74485 non-null  object
 5   사망자수       74485 non-null  int64
 6   중상자수       74485 non-null  int64
 7   경상자수       74485 non-null  int64
 8   부상신고자수     74485 non-null  int64
 9   사고유형_대범주   74485 non-null  object
 10  사고유형_소범주   74485 non-null  object
 11  법규위반       74485 non-null  object
 12  노면상태       74485 non-null  object
 13  기상상태       73575 non-null  object
 14  도로형태_대범주   74485 non-null  object
 15  도로형태_소범주   74485 non-null  object
 16  가해운전자차종    72734 non-null  object
 17  가해운전자성별    72738 non-null  object
 18  가해운전자연령    72727 non-null  float64
 19  가해운전자상해정도  70172 non-null  object
 20  피해운전자차종    72225 non-null  object
 21  피해운전자성별    72225 non-null  object
 22  피해운전자연령    72049 non-null  float64
 23  피해운전자상해정도  72225 non-null  object
 24  음주운전       59589 non-null  float64
dtypes: float64(3), int64(8), object(14)
memory usage: 14.8+ MB

In [11]:
df.to_pickle('data/acc_raw.pkl')