In [1]:
import pandas as pd
import numpy as np
from pycaret import classification as cls
from sklearn.metrics import average_precision_score
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style='whitegrid', font_scale=1)
sns.set_palette('Set2', n_colors=10)
plt.rc('font', family='AppleGothic')
plt.rc('axes', unicode_minus=False)

np.random.seed(1234)
df = pd.read_pickle('data/acc_raw.pkl')
df = df[~df['음주운전'].isnull()]
cat_list = df.select_dtypes(['object']).columns.tolist()
num_list = df.select_dtypes(['number']).drop(columns='음주운전').columns.tolist()

In [2]:
cls.setup(data=df, target='음주운전', train_size=0.7, session_id = 1234)

In [3]:
cls.add_metric('apc', 'APC', average_precision_score, target = 'pred_proba')

Name                                                               APC
Display Name                                                       APC
Score Function       <function average_precision_score at 0x12d98dab0>
Scorer               make_scorer(average_precision_score, needs_pro...
Target                                                      pred_proba
Args                                                                {}
Greater is Better                                                 True
Multiclass                                                        True
Custom                                                            True
Name: apc, dtype: object

In [4]:
my_models = cls.compare_models(n_select=3, sort='apc')

Initiated  . . . . . . . . . . . . . . . . . .              16:22:44
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

In [5]:
my_models = [cls.tune_model(m) for m in my_models]

Initiated  . . . . . . . . . . . . . . . . . .              16:23:57
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Initiated  . . . . . . . . . . . . . . . . . .                      16:25:13
Status     . . . . . . . . . . . . . . . . . .     Searching Hyperparameters
Estimator  . . . . . . . . . . . . . . . . . .  Gradient Boosting Classifier

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Initiated  . . . . . . . . . . . . . . . . . .                   16:26:31
Status     . . . . . . . . . . . . . . . . . .  Searching Hyperparameters
Estimator  . . . . . . . . . . . . . . . . . .     Extra Trees Classifier

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [6]:
cls.plot_model(my_models[0], 'parameter')

                         Parameters
bootstrap                      True
ccp_alpha                       0.0
class_weight                   None
criterion                      gini
max_depth                      None
max_features                   sqrt
max_leaf_nodes                 None
max_samples                    None
min_impurity_decrease           0.0
min_samples_leaf                  1
min_samples_split                 2
min_weight_fraction_leaf        0.0
n_estimators                    100
n_jobs                           -1
oob_score                     False
random_state                   1234
verbose                           0
warm_start                    False

In [7]:
my_stacker = cls.stack_models(my_models, optimize='apc')

Initiated  . . . . . . . . . . . . . . . . . .              16:27:25
Status     . . . . . . . . . . . . . . . . . .  Compiling Estimators
Estimator  . . . . . . . . . . . . . . . . . .   Stacking Classifier