- 리스트 컴프리헨션

In [1]:
x = [1,2,3,4,5,6,7,8,9,10]

In [2]:
x*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
result = []
for i in x :
    result.append(i*2)

In [5]:
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
[i*2 for i in x]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [7]:
tuple([i*2 for i in x])

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [8]:
set([i*2 for i in x])

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [10]:
{i*2 for i in x}

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [12]:
{i:i*2 for i in x} #dict key:value

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [14]:
result = []
for i in x:
    if i%2 == 0:
        result.append(i)
        
result

[2, 4, 6, 8, 10]

In [15]:
[i for i in x if(i%2==0)] #출력값 반복문 //조건은 상황에 따라서 앞뒤로

[2, 4, 6, 8, 10]

In [16]:
[i*2 for i in x if(i%2==0)]

[4, 8, 12, 16, 20]

In [17]:
[i*2 if(i%2==0) else i for i in x]

[1, 4, 3, 8, 5, 12, 7, 16, 9, 20]

In [18]:
[i*2 if(i%2==0) else 0 for i in x]

[0, 4, 0, 8, 0, 12, 0, 16, 0, 20]

- enumerate

In [19]:
x = ['tic', 'tac', 'toe']

In [23]:
x = dict(enumerate(x))
x

{0: 'tic', 1: 'tac', 2: 'toe'}

In [26]:
{v:i for i, v in x.items()} #key, value 뒤집기

{'tic': 0, 'tac': 1, 'toe': 2}

In [28]:
x = ['tic', 'tac', 'toe']
for i in x:
    print(i)

tic
tac
toe

In [31]:
for i, v in enumerate(x):
    print(i, v)

0 tic
1 tac
2 toe

In [32]:
for i in enumerate(x):
    print(i)

(0, 'tic')
(1, 'tac')
(2, 'toe')

In [36]:
x = ['tic', 'tac', 'toe']
x = dict(enumerate(x))
for i in enumerate(x.items()):
    print(i)

(0, (0, 'tic'))
(1, (1, 'tac'))
(2, (2, 'toe'))

In [37]:
x = ['tic', 'tac', 'toe']
x = dict(enumerate(x))
for i,v in enumerate(x.items()):
    print(i,v)

0 (0, 'tic')
1 (1, 'tac')
2 (2, 'toe')

In [38]:
x = ['tic', 'tac', 'toe']
x = dict(enumerate(x))
for i,(v,k) in enumerate(x.items()):
    print(i,v,k)

0 0 tic
1 1 tac
2 2 toe

In [39]:
x = ['tic', 'tac', 'toe']
x

['tic', 'tac', 'toe']

In [40]:
[v for i, v in enumerate(x) if i%2 == 0]

['tic', 'toe']

- zip

In [41]:
xs = [10, 20, 30]
ys = [1,2,3]
for x in xs, ys:
    print(x)

[10, 20, 30]
[1, 2, 3]

In [42]:
for i in zip(xs, ys):
    print(i)

(10, 1)
(20, 2)
(30, 3)

In [43]:
#길이가 제일 짧은 리스트 기준
zs = [100, 200, 300, 400]
for i in zip(xs, ys, zs):
    print(i)

(10, 1, 100)
(20, 2, 200)
(30, 3, 300)

In [45]:
for x,y,z in zip(xs, ys, zs):
    print(x+y+z)

111
222
333

In [46]:
[x+y+z for x,y,z in zip(xs,ys,zs)]

[111, 222, 333]

- 과목별 평균 구하기

In [53]:
s = ['영어', '수학', '과학']
철수 = [100, 80, 90, 60]
영희 = [90, 100, 80]
길동 = [70, 60, 100]
국민 = [80, 70, 90]
for i, x, y, z, q in zip(s, 철수, 영희, 길동, 국민):
    print(i, '과목평균', end=': ')
    print((x+y+z+q)/4)

영어 과목평균: 85.0
수학 과목평균: 77.5
과학 과목평균: 90.0

In [56]:
for x in zip(철수, 영희, 길동, 국민):
    print(x)
    print(sum(x))

(100, 90, 70, 80)
340
(80, 100, 60, 70)
310
(90, 80, 100, 90)
360

In [59]:
for i in zip(s, 철수, 영희, 길동, 국민):
    print(i)
    print(i[0], '과목평균', end=': ')
    print(sum(i[1:])/4)

('영어', 100, 90, 70, 80)
영어 과목평균: 85.0
('수학', 80, 100, 60, 70)
수학 과목평균: 77.5
('과학', 90, 80, 100, 90)
과학 과목평균: 90.0