## 1.1 결측치 확인

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/02_seoul_accident_clean.csv')
df.head()

,사고번호,사고년도,사고월,사고일,사고시각,사고요일,시군구_대범주,시군구_소범주,사고내용,사망자수,...,도로형태_대범주,도로형태_소범주,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
0,A2019010100100001,2019,1,1,0,1,강서구,강서구 방화동,경상사고,0,...,교차로,교차로 - 교차로횡단보도내,승용,남,26.0,상해없음,보행자,남,40.0,경상
1,A2019010100100002,2019,1,1,0,1,구로구,구로구 고척동,경상사고,0,...,단일로,단일로 - 기타,이륜,남,23.0,상해없음,승용,남,71.0,경상
2,A2019010100100003,2019,1,1,0,1,서초구,서초구 서초동,경상사고,0,...,기타,기타 - 기타,승용,남,33.0,상해없음,화물,남,51.0,경상
3,A2019010100100019,2019,1,1,1,1,중구,중구 회현동2가,경상사고,0,...,단일로,단일로 - 터널,승용,남,58.0,상해없음,승용,남,62.0,경상
4,A2019010100100020,2019,1,1,1,1,성동구,성동구 행당동,경상사고,0,...,교차로,교차로 - 교차로부근,승용,남,30.0,상해없음,보행자,남,32.0,경상

In [2]:
df['기상상태'].isnull()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
74455    False
74456    False
74457    False
74458    False
74459    False
74460    False
74461    False
74462    False
74463    False
74464    False
74465    False
74466    False
74467    False
74468    False
74469    False
74470    False
74471    False
74472    False
74473    False
74474    False
74475    False
74476    False
74477    False
74478    False
74479    False
74480    False
74481    False
74482    False
74483    False
74484    False
Name: 기상상태, Length: 74485, dtype: bool

In [3]:
df['기상상태'].isnull().sum() #결측치 개수

910

In [4]:
df['기상상태'].isnull().mean() #결측치의 비율 -- 결측치/전체개수

0.012217224944619721

In [5]:
(~df.isnull()).sum() #결측치 아닌 것의 개수

사고번호         74485
사고년도         74485
사고월          74485
사고일          74485
사고시각         74485
사고요일         74485
시군구_대범주      74485
시군구_소범주      74485
사고내용         74485
사망자수         74485
중상자수         74485
경상자수         74485
부상신고자수       74485
사고유형_대범주     74485
사고유형_소범주     74485
법규위반         74485
노면상태_대범주     74485
노면상태_소범주     74485
기상상태         73575
도로형태_대범주     74485
도로형태_소범주     74485
가해운전자차종      72734
가해운전자성별      72738
가해운전자연령      72727
가해운전자상해정도    70172
피해운전자차종      72225
피해운전자성별      72225
피해운전자연령      72049
피해운전자상해정도    72225
dtype: int64

In [6]:
df.isnull().mean()

사고번호         0.000000
사고년도         0.000000
사고월          0.000000
사고일          0.000000
사고시각         0.000000
사고요일         0.000000
시군구_대범주      0.000000
시군구_소범주      0.000000
사고내용         0.000000
사망자수         0.000000
중상자수         0.000000
경상자수         0.000000
부상신고자수       0.000000
사고유형_대범주     0.000000
사고유형_소범주     0.000000
법규위반         0.000000
노면상태_대범주     0.000000
노면상태_소범주     0.000000
기상상태         0.012217
도로형태_대범주     0.000000
도로형태_소범주     0.000000
가해운전자차종      0.023508
가해운전자성별      0.023454
가해운전자연령      0.023602
가해운전자상해정도    0.057904
피해운전자차종      0.030342
피해운전자성별      0.030342
피해운전자연령      0.032705
피해운전자상해정도    0.030342
dtype: float64

In [7]:
## 1.2. 결측치의 제거

In [8]:
df.shape

(74485, 29)

In [9]:
df.dropna().shape

(66940, 29)

In [10]:
## 1.3. 결측치 대체

In [11]:
df['기상상태'].value_counts()

맑음    65872
비      4686
흐림     2894
눈       119
안개        4
Name: 기상상태, dtype: int64

In [12]:
df['기상상태'].value_counts(normalize=True, dropna=False) #결측치 비율

맑음     0.884366
비      0.062912
흐림     0.038853
NaN    0.012217
눈      0.001598
안개     0.000054
Name: 기상상태, dtype: float64

In [13]:
# [기상상태] 결측치를 새로운 범주로 생성

In [14]:
df['기상상태'] = df['기상상태'].fillna('기타')
df['기상상태'].value_counts(normalize=True, dropna=False) #결측치 비율

맑음    0.884366
비     0.062912
흐림    0.038853
기타    0.012217
눈     0.001598
안개    0.000054
Name: 기상상태, dtype: float64

In [15]:
# [가해운전자성별]
df['가해운전자성별'].value_counts(normalize=True, dropna=False)

남      0.799356
여      0.177190
NaN    0.023454
Name: 가해운전자성별, dtype: float64

In [16]:
df['가해운전자성별'] = df['가해운전자성별'].fillna('남')
df['가해운전자성별'].value_counts(normalize=True, dropna=False)

남    0.82281
여    0.17719
Name: 가해운전자성별, dtype: float64

In [17]:
# [가해운전자연령] -> 중앙값 대체
df['가해운전자연령']

0        26.0
1        23.0
2        33.0
3        58.0
4        30.0
5        31.0
6        49.0
7        29.0
8        28.0
9        30.0
10       56.0
11       51.0
12        NaN
13       29.0
14       50.0
15       67.0
16       61.0
17       31.0
18       27.0
19       62.0
20       52.0
21       46.0
22       73.0
23       29.0
24       20.0
25       36.0
26       68.0
27       62.0
28       39.0
29       60.0
         ...
74455    30.0
74456    48.0
74457    48.0
74458    52.0
74459    54.0
74460    59.0
74461    51.0
74462    34.0
74463    56.0
74464    50.0
74465    55.0
74466    47.0
74467    37.0
74468    51.0
74469    42.0
74470    27.0
74471    17.0
74472    39.0
74473    27.0
74474    62.0
74475    18.0
74476    70.0
74477    46.0
74478     NaN
74479    24.0
74480    35.0
74481    61.0
74482    55.0
74483    62.0
74484    61.0
Name: 가해운전자연령, Length: 74485, dtype: float64

In [18]:
df['가해운전자연령'].median()

50.0

In [19]:
df['가해운전자연령'] = df['가해운전자연령'].fillna(df['가해운전자연령'].median())
df['가해운전자연령'] = df['가해운전자연령'].astype('int')
df['가해운전자연령'].isnull().sum()

0