#### <span style="color: #00a470"> [Exercise01] 필터링 연습 </span>

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('data/02_seoul_accident_clean.csv')
df.head()

,사고번호,사고년도,사고월,사고일,사고시각,사고요일,시군구_대범주,시군구_소범주,사고내용,사망자수,...,도로형태_대범주,도로형태_소범주,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
0,A2019010100100001,2019,1,1,0,1,강서구,강서구 방화동,경상사고,0,...,교차로,교차로 - 교차로횡단보도내,승용,남,26.0,상해없음,보행자,남,40.0,경상
1,A2019010100100002,2019,1,1,0,1,구로구,구로구 고척동,경상사고,0,...,단일로,단일로 - 기타,이륜,남,23.0,상해없음,승용,남,71.0,경상
2,A2019010100100003,2019,1,1,0,1,서초구,서초구 서초동,경상사고,0,...,기타,기타 - 기타,승용,남,33.0,상해없음,화물,남,51.0,경상
3,A2019010100100019,2019,1,1,1,1,중구,중구 회현동2가,경상사고,0,...,단일로,단일로 - 터널,승용,남,58.0,상해없음,승용,남,62.0,경상
4,A2019010100100020,2019,1,1,1,1,성동구,성동구 행당동,경상사고,0,...,교차로,교차로 - 교차로부근,승용,남,30.0,상해없음,보행자,남,32.0,경상

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74485 entries, 0 to 74484
Data columns (total 29 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고번호       74485 non-null  object
 1   사고년도       74485 non-null  int64
 2   사고월        74485 non-null  int64
 3   사고일        74485 non-null  int64
 4   사고시각       74485 non-null  int64
 5   사고요일       74485 non-null  int64
 6   시군구_대범주    74485 non-null  object
 7   시군구_소범주    74485 non-null  object
 8   사고내용       74485 non-null  object
 9   사망자수       74485 non-null  int64
 10  중상자수       74485 non-null  int64
 11  경상자수       74485 non-null  int64
 12  부상신고자수     74485 non-null  int64
 13  사고유형_대범주   74485 non-null  object
 14  사고유형_소범주   74485 non-null  object
 15  법규위반       74485 non-null  object
 16  노면상태_대범주   74485 non-null  object
 17  노면상태_소범주   74485 non-null  object
 18  기상상태       73575 non-null  object
 19  도로형태_대범주   74485 non-null  object
 20  도로형태_소범주   74485 non-null  object
 21  가해운전자차종    72734 non-null  object
 22  가해운전자성별    72738 non-null  object
 23  가해운전자연령    72727 non-null  float64
 24  가해운전자상해정도  70172 non-null  object
 25  피해운전자차종    72225 non-null  object
 26  피해운전자성별    72225 non-null  object
 27  피해운전자연령    72049 non-null  float64
 28  피해운전자상해정도  72225 non-null  object
dtypes: float64(2), int64(9), object(18)
memory usage: 16.5+ MB

- 6~8월 사이의 사고의 중상자수와 경상자수

In [15]:
mm = [6,7,8]
nums = ['사고월', '중상자수','경상자수']
c = (df['사고월'].isin(mm))
df.loc[c, nums]

       사고월  중상자수  경상자수
15344    6     1     1
15345    6     1     0
15346    6     1     1
15347    6     0     1
15348    6     0     1
...    ...   ...   ...
62741    8     0     1
62742    8     0     0
62743    8     0     1
62744    8     0     1
62745    8     1     0

[19325 rows x 3 columns]

In [26]:
df.loc[c, ['중상자수']].sum()

중상자수    10
dtype: int64

In [27]:
df.loc[c, ['경상자수']].sum()

경상자수    65
dtype: int64

- 포장도로가 아닌 도로의 가해운전자차종 종류 및 수

In [85]:
c = df['노면상태_대범주'] != '포장'

print("가해운전자차종 종류 -> ", df.loc[c,'가해운전자차종'].dropna().unique())
print("가해운전자차종 수 -> ", len(df.loc[c,'가해운전자차종'].dropna().unique()))

가해운전자차종 종류 ->  ['이륜' '승용' '화물' '자전거' '건설기계']
가해운전자차종 수 ->  5

- 기상상태가 눈이나 비인 경우 가해운전자연령의 평균

In [74]:
df['기상상태']

0        눈
1        눈
2        눈
3        눈
4        눈
        ..
74480    눈
74481    눈
74482    눈
74483    눈
74484    눈
Name: 기상상태, Length: 74485, dtype: object

In [82]:
c = df['기상상태'].isin(['눈', '비'])

df.loc[c,['기상상태','가해운전자연령']]

      기상상태  가해운전자연령
0        눈     26.0
1        눈     23.0
2        눈     33.0
3        눈     58.0
4        눈     30.0
...    ...      ...
74480    눈     35.0
74481    눈     61.0
74482    눈     55.0
74483    눈     62.0
74484    눈     61.0

[74485 rows x 2 columns]

In [84]:
df.loc[c,'가해운전자연령'].mean()

48.06349773811652