In [5]:
import pandas as pd
import numpy as np
from datetime import datetime
np.random.seed(123)


tr = pd.read_csv('trainset.csv')
te = pd.read_csv('testset_final.csv')
drop_col = ['매니저최초가입일', '매니저최초서비스일', '매니저주소']
tr = tr.drop(columns=drop_col)
tr.매니저생년월일 = tr.매니저생년월일.str[:4]
df = pd.concat([tr,te])

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27253 entries, 0 to 4243
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SEQ         27253 non-null  object
 1   접수일         27253 non-null  object
 2   접수시각        4013 non-null   object
 3   장기서비스여부     27253 non-null  int64
 4   최초서비스일      27253 non-null  object
 5   전체회차        27253 non-null  int64
 6   현재회차        27253 non-null  int64
 7   서비스일자       27253 non-null  object
 8   서비스시작시간     27253 non-null  object
 9   서비스종료시간     27253 non-null  object
 10  기존고객여부      27253 non-null  int64
 11  결재형태        27247 non-null  object
 12  서비스주소       27253 non-null  object
 13  주거형태        27253 non-null  object
 14  평수          16802 non-null  object
 15  고객가입일       27093 non-null  object
 16  반려동물        24102 non-null  object
 17  부재중여부       16802 non-null  float64
 18  우선청소        13360 non-null  object
 19  쿠폰사용여부      27253 non-null  int64
 20  매니저생년월일     27253 non-null  object
 21  매니저성별       27253 non-null  int64
 22  매니저사용휴대폰    24024 non-null  object
 23  매니저이동방법     26931 non-null  object
 24  근무가능지역      27253 non-null  object
 25  CS교육이수여부    24025 non-null  float64
 26  청소교육이수여부    24025 non-null  float64
 27  부재중서비스가능여부  27253 non-null  int64
 28  추천인여부       27253 non-null  int64
 29  매칭성공여부      23009 non-null  float64
dtypes: float64(4), int64(8), object(18)
memory usage: 6.4+ MB

In [8]:
my_dict = {}
my_dict['SEQ'] = df['SEQ']
my_dict['접수년'] = pd.to_datetime(df['접수일']).dt.year
my_dict['접수월'] = pd.to_datetime(df['접수일']).dt.month
my_dict['접수일'] = pd.to_datetime(df['접수일']).dt.day
my_dict['장기서비스여부'] = df['장기서비스여부']
my_dict['최초서비스차이'] = (pd.to_datetime(df['최초서비스일'])-pd.to_datetime(df['접수일'])).dt.days
my_dict['회차'] = df['현재회차']/df['전체회차']
my_dict['서비스년'] = pd.to_datetime(df['서비스일자']).dt.year
my_dict['서비스월'] = pd.to_datetime(df['서비스일자']).dt.month
my_dict['서비스일'] = pd.to_datetime(df['서비스일자']).dt.day
my_dict['접수일서비스일차이'] = (pd.to_datetime(df['서비스일자'])-pd.to_datetime(df['접수일'])).dt.days
my_dict['서비스시작시간'] = pd.to_datetime(df['서비스시작시간']).dt.hour
my_dict['서비스종료시간'] = pd.to_datetime(df['서비스종료시간']).dt.hour
my_dict['서비스시간'] = (my_dict['서비스종료시간'] - my_dict['서비스시작시간'])
my_dict['기존고객여부'] = df['기존고객여부']
my_dict['신용카드'] = (df['결재형태'] == '신용카드').astype('int')
my_dict['무통장입금']  = (df['결재형태'] == '무통장입금').astype('int')
my_dict['가상계좌']  = (df['결재형태'] == '가상계좌').astype('int')
my_dict['충남'] = (df['서비스주소'].str.split(expand=True)[0] == '충남').astype('int')
my_dict['서울'] = (df['서비스주소'].str.split(expand=True)[0] == '서울').astype('int')
my_dict['강원'] = (df['서비스주소'].str.split(expand=True)[0] == '강원').astype('int')
my_dict['부산'] = (df['서비스주소'].str.split(expand=True)[0] == '부산').astype('int')
my_dict['광주'] = (df['서비스주소'].str.split(expand=True)[0] == '광주').astype('int')
my_dict['경기'] = (df['서비스주소'].str.split(expand=True)[0] == '경기').astype('int')
my_dict['경남'] = (df['서비스주소'].str.split(expand=True)[0] == '경남').astype('int')
my_dict['일반주택'] = (df['주거형태']=='일반주택').astype('int')
my_dict['평수'] = df['평수'].str[0].fillna(0).astype('int')
my_dict['가입일수'] = (datetime.today() - pd.to_datetime(df['고객가입일'])).dt.days.fillna(0)
my_dict['반려동물없음'] = (df['반려동물']=='없음').astype('int')
my_dict['반려동물개'] = (df['반려동물']=='개').astype('int')
my_dict['반려동물고양이'] =(df['반려동물']=='고양이').astype('int')
my_dict['반려동물기타'] =(df['반려동물']=='기타').astype('int')
my_dict['반려동물미응답'] = (df['반려동물'].isnull()).astype('int')
my_dict['부재중여부'] = df['부재중여부'].fillna(0).astype('int')
my_dict['부재중미응답'] = (df['부재중여부'].isnull()).astype('int')
my_dict['화장실'] = (df['우선청소']=='화장실').astype('int')
my_dict['방'] = (df['우선청소']=='방').astype('int')
my_dict['거실'] = (df['우선청소']=='거실').astype('int')
my_dict['주방'] = (df['우선청소']=='주방').astype('int')
my_dict['베란다'] = (df['우선청소']=='베란다').astype('int')
my_dict['쿠폰사용여부'] = df['쿠폰사용여부']
my_dict['매니저나이'] = df['매니저생년월일']
my_dict['매니저성별'] = df['매니저성별']
my_dict['안드로이드'] = (df['매니저사용휴대폰']=='안드로이드').astype('int')
my_dict['ios'] = (df['매니저사용휴대폰']=='ios').astype('int')
my_dict['기타'] = (df['매니저사용휴대폰']=='기타').astype('int')
my_dict['m충남'] = (df['근무가능지역'].str.split(expand=True)[0] == '충남').astype('int')
my_dict['m서울'] = (df['근무가능지역'].str.split(expand=True)[0] == '서울').astype('int')
my_dict['m강원'] = (df['근무가능지역'].str.split(expand=True)[0] == '강원').astype('int')
my_dict['m광주'] = (df['근무가능지역'].str.split(expand=True)[0] == '광주').astype('int')
my_dict['m부산'] = (df['근무가능지역'].str.split(expand=True)[0] == '부산').astype('int')
my_dict['m경기'] = (df['근무가능지역'].str.split(expand=True)[0] == '경기').astype('int')
my_dict['m경남'] = (df['근무가능지역'].str.split(expand=True)[0] == '경남').astype('int')
my_dict['m인천'] = (df['근무가능지역'].str.split(expand=True)[0] == '인천').astype('int')
my_dict['매니저자차'] = (df['매니저이동방법']=='자차').astype('int')
my_dict['매니저대중교통'] = (df['매니저이동방법']=='대중교통').astype('int')
my_dict['w천안'] = (df['근무가능지역'].str.split(expand=True)[0] == '천안/아산').astype('int')
my_dict['w기타'] = (df['근무가능지역'].str.split(expand=True)[0] == '기타').astype('int')
my_dict['w서울'] = (df['근무가능지역'].str.split(expand=True)[0] == '서울').astype('int')
my_dict['w원주'] = (df['근무가능지역'].str.split(expand=True)[0] == '원주/춘천').astype('int')
my_dict['w부산'] = (df['근무가능지역'].str.split(expand=True)[0] == '부산').astype('int')
my_dict['w광주'] = (df['근무가능지역'].str.split(expand=True)[0] == '광주').astype('int')
my_dict['w수도권'] = (df['근무가능지역'].str.split(expand=True)[0] == '수도권').astype('int')
my_dict['w평택'] = (df['근무가능지역'].str.split(expand=True)[0] == '평택').astype('int')
my_dict['CS교육이수여부'] = df['CS교육이수여부'].fillna(0).astype('int')
my_dict['청소교육이수여부'] = df['청소교육이수여부'].fillna(0).astype('int')
my_dict['부재중서비스가능여부'] = df['부재중서비스가능여부'].fillna(0).astype('int')
my_dict['추천인여부'] = df['추천인여부']
my_dict['매칭성공여부'] = df['매칭성공여부']
my_dict = pd.DataFrame(my_dict)
#ans = ans.merge(my_dict)
my_dict.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27253 entries, 0 to 4243
Data columns (total 69 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SEQ         27253 non-null  object
 1   접수년         27253 non-null  int64
 2   접수월         27253 non-null  int64
 3   접수일         27253 non-null  int64
 4   장기서비스여부     27253 non-null  int64
 5   최초서비스차이     27253 non-null  int64
 6   회차          27253 non-null  float64
 7   서비스년        27253 non-null  int64
 8   서비스월        27253 non-null  int64
 9   서비스일        27253 non-null  int64
 10  접수일서비스일차이   27253 non-null  int64
 11  서비스시작시간     27253 non-null  int64
 12  서비스종료시간     27253 non-null  int64
 13  서비스시간       27253 non-null  int64
 14  기존고객여부      27253 non-null  int64
 15  신용카드        27253 non-null  int32
 16  무통장입금       27253 non-null  int32
 17  가상계좌        27253 non-null  int32
 18  충남          27253 non-null  int32
 19  서울          27253 non-null  int32
 20  강원          27253 non-null  int32
 21  부산          27253 non-null  int32
 22  광주          27253 non-null  int32
 23  경기          27253 non-null  int32
 24  경남          27253 non-null  int32
 25  일반주택        27253 non-null  int32
 26  평수          27253 non-null  int32
 27  가입일수        27253 non-null  float64
 28  반려동물없음      27253 non-null  int32
 29  반려동물개       27253 non-null  int32
 30  반려동물고양이     27253 non-null  int32
 31  반려동물기타      27253 non-null  int32
 32  반려동물미응답     27253 non-null  int32
 33  부재중여부       27253 non-null  int32
 34  부재중미응답      27253 non-null  int32
 35  화장실         27253 non-null  int32
 36  방           27253 non-null  int32
 37  거실          27253 non-null  int32
 38  주방          27253 non-null  int32
 39  베란다         27253 non-null  int32
 40  쿠폰사용여부      27253 non-null  int64
 41  매니저나이       27253 non-null  object
 42  매니저성별       27253 non-null  int64
 43  안드로이드       27253 non-null  int32
 44  ios         27253 non-null  int32
 45  기타          27253 non-null  int32
 46  m충남         27253 non-null  int32
 47  m서울         27253 non-null  int32
 48  m강원         27253 non-null  int32
 49  m광주         27253 non-null  int32
 50  m부산         27253 non-null  int32
 51  m경기         27253 non-null  int32
 52  m경남         27253 non-null  int32
 53  m인천         27253 non-null  int32
 54  매니저자차       27253 non-null  int32
 55  매니저대중교통     27253 non-null  int32
 56  w천안         27253 non-null  int32
 57  w기타         27253 non-null  int32
 58  w서울         27253 non-null  int32
 59  w원주         27253 non-null  int32
 60  w부산         27253 non-null  int32
 61  w광주         27253 non-null  int32
 62  w수도권        27253 non-null  int32
 63  w평택         27253 non-null  int32
 64  CS교육이수여부    27253 non-null  int32
 65  청소교육이수여부    27253 non-null  int32
 66  부재중서비스가능여부  27253 non-null  int32
 67  추천인여부       27253 non-null  int64
 68  매칭성공여부      23009 non-null  float64
dtypes: float64(3), int32(48), int64(16), object(2)
memory usage: 9.6+ MB

In [27]:
x_train = my_dict[~my_dict['매칭성공여부'].isnull()].drop(columns=['SEQ', '매칭성공여부'])
x_test = my_dict[my_dict['매칭성공여부'].isnull()].drop(columns=['SEQ','매칭성공여부'])
y_train= my_dict[~my_dict['매칭성공여부'].isnull()]['매칭성공여부']

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score
from sklearn.metrics import recall_score, precision_score, f1_score, fbeta_score
from sklearn.tree import DecisionTreeClassifier

In [11]:
param = {'criterion':['gini','entropy'],
         'max_depth':np.arange(4,100)}

In [12]:
dt = DecisionTreeClassifier()

In [14]:
gcv = GridSearchCV(dt, param_grid=param, scoring='f1', n_jobs=-1, cv=4)
gcv.fit(x_train, y_train)

GridSearchCV(cv=4, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': array([ 4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
       21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
       38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54,
       55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71,
       72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88,
       89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])},
             scoring='f1')

In [15]:
gcv.best_score_

0.6526217833530021

In [16]:
gcv.best_estimator_

DecisionTreeClassifier(criterion='entropy', max_depth=76)

In [17]:
len(x_test)

4244

In [24]:
pred = pd.DataFrame({'SEQ':te.SEQ, 'pred': gcv.predict_proba(x_test)[:,1]})
pred

         SEQ  pred
0     T54370   0.0
1     T47892   0.0
2     T56637   1.0
3     T45487   0.0
4     T41995   0.0
...      ...   ...
4239  T31589   0.0
4240  T36236   1.0
4241  T34729   0.0
4242  T53830   0.0
4243  T30681   0.0

[4244 rows x 2 columns]