In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import math
from itertools import permutations, combinations
import seaborn as sns
import xlrd
%precision 3

'%.3f'

In [5]:
Audit = pd.read_excel('./05_Statistical_analysis/data/Audit.xlsx', usecols=[0], header = 0)
audit = Audit['Audit Time']

In [6]:
audit_group = np.where(audit<=14, "10일~14일", 
                np.where(audit<=19, "15일~19일",
                np.where(audit<=24, "20일~24일",
                np.where(audit<=29, "25일~29일", "30일~34일"))))

In [9]:
audit_counts = pd.Series(audit_group).value_counts()
audit_table = pd.DataFrame(audit_counts, columns=['freq'])
audit_table.sort_index(inplace=True)
audit_table

         freq
10일~14일     4
15일~19일     8
20일~24일     5
25일~29일     2
30일~34일     1

In [10]:
audit_table['ClassMark'] = np.arange(12,37,5)
audit_table

         freq  ClassMark
10일~14일     4         12
15일~19일     8         17
20일~24일     5         22
25일~29일     2         27
30일~34일     1         32

In [11]:
audit_table['Fi*Mi'] = audit_table['freq'] * audit_table['ClassMark']
audit_table

         freq  ClassMark  Fi*Mi
10일~14일     4         12     48
15일~19일     8         17    136
20일~24일     5         22    110
25일~29일     2         27     54
30일~34일     1         32     32

In [12]:
x_bar = sum(audit_table['Fi*Mi']) / sum(audit_table['freq'])
x_bar

19.0

In [13]:
audit_table['Mi - x'] = audit_table['ClassMark'] - x_bar
audit_table

         freq  ClassMark  Fi*Mi  Mi - x
10일~14일     4         12     48    -7.0
15일~19일     8         17    136    -2.0
20일~24일     5         22    110     3.0
25일~29일     2         27     54     8.0
30일~34일     1         32     32    13.0

In [14]:
audit_table['(Mi-x)^2'] = audit_table['Mi - x'] ** 2
audit_table

         freq  ClassMark  Fi*Mi  Mi - x  (Mi-x)^2
10일~14일     4         12     48    -7.0      49.0
15일~19일     8         17    136    -2.0       4.0
20일~24일     5         22    110     3.0       9.0
25일~29일     2         27     54     8.0      64.0
30일~34일     1         32     32    13.0     169.0

In [15]:
audit_table['Fi*(Mi-x)^2'] = audit_table['(Mi-x)^2'] * audit_table['freq']
audit_table

         freq  ClassMark  Fi*Mi  Mi - x  (Mi-x)^2  Fi*(Mi-x)^2
10일~14일     4         12     48    -7.0      49.0        196.0
15일~19일     8         17    136    -2.0       4.0         32.0
20일~24일     5         22    110     3.0       9.0         45.0
25일~29일     2         27     54     8.0      64.0        128.0
30일~34일     1         32     32    13.0     169.0        169.0

In [17]:
s2 = sum(audit_table['Fi*(Mi-x)^2']) / (sum(audit_table['freq'])-1)
s2

30.0

In [22]:
Streo = pd.read_excel('05_Statistical_analysis/data/Stereo.xlsx', header=0, index_col='Week')
Streo.columns = ['x', 'y']
Streo.head()

      x   y
Week
1     2  50
2     5  57
3     1  41
4     3  54
5     4  54

In [24]:
x_bar = np.average(Streo['x'])
y_bar = np.average(Streo['y'])
x_bar, y_bar

(3.0, 51.0)

In [26]:
Streo['x-xbar'] = Streo['x'] - x_bar
Streo['y-xbar'] = Streo['y'] - y_bar
Streo['(x-xbar)(y-xbar)'] = Streo['x-xbar'] * Streo['y-xbar']
Streo

      x   y  x-xbar  y-xbar  (x-xbar)(y-xbar)
Week
1     2  50    -1.0    -1.0               1.0
2     5  57     2.0     6.0              12.0
3     1  41    -2.0   -10.0              20.0
4     3  54     0.0     3.0               0.0
5     4  54     1.0     3.0               3.0
6     1  38    -2.0   -13.0              26.0
7     5  63     2.0    12.0              24.0
8     3  48     0.0    -3.0              -0.0
9     4  59     1.0     8.0               8.0
10    2  46    -1.0    -5.0               5.0

In [27]:
s_xy = sum(Streo['(x-xbar)(y-xbar)']) / 9
s_xy

11.0

In [28]:
s_x = np.std(Streo['x'], ddof=1)
s_y = np.std(Streo['y'], ddof=1)
s_x, s_y

(1.4907119849998598, 7.930251502246879)

In [29]:
r_xy = s_xy / (s_x * s_y)
r_xy

0.9304905807411791

In [32]:
plan = [2,2,2,3,3,3,4,4,4]
cons = [6,7,8,6,7,8,6,7,8]
counts = [6,6,2,4,8,2,2,4,6]

In [34]:
build_df = pd.DataFrame(zip(plan, cons, counts), columns=['plan', 'cons', 'counts'])
build_df

   plan  cons  counts
0     2     6       6
1     2     7       6
2     2     8       2
3     3     6       4
4     3     7       8
5     3     8       2
6     4     6       2
7     4     7       4
8     4     8       6

In [36]:
build_df['total'] = build_df['plan'] + build_df['cons']
build_df

   plan  cons  counts  total
0     2     6       6      8
1     2     7       6      9
2     2     8       2     10
3     3     6       4      9
4     3     7       8     10
5     3     8       2     11
6     4     6       2     10
7     4     7       4     11
8     4     8       6     12

In [37]:
n = sum(build_df['counts'])
n

40

In [39]:
build_df['prob'] = build_df['counts'] / n
build_df

   plan  cons  counts  total  prob
0     2     6       6      8  0.15
1     2     7       6      9  0.15
2     2     8       2     10  0.05
3     3     6       4      9  0.10
4     3     7       8     10  0.20
5     3     8       2     11  0.05
6     4     6       2     10  0.05
7     4     7       4     11  0.10
8     4     8       6     12  0.15

In [40]:
build_df2 = build_df[(build_df['total']<=10)]
build_df2

   plan  cons  counts  total  prob
0     2     6       6      8  0.15
1     2     7       6      9  0.15
2     2     8       2     10  0.05
3     3     6       4      9  0.10
4     3     7       8     10  0.20
6     4     6       2     10  0.05

In [41]:
sum(build_df2['prob'])

0.700

In [42]:
def perm(a, b):
    return len(list(permutations(np.arange(0, a), b)))

perm(10, 5)

30240

In [43]:
def perm(a, b):
    return (math.factorial(a))/(math.factorial(a-b))

perm(25, 9)

741354768000.000

In [44]:
list(permutations(np.arange(0,5), 2))

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [45]:
def comb(a, b):
    return len(list(combinations(np.arange(0,a), b)))

comb(45, 6)

8145060

In [47]:
data = {"Male" : [288,672], "Female": [36,204]}
df = pd.DataFrame(data=data, index=["effect", "No-effect"])
df

           Male  Female
effect      288      36
No-effect   672     204

In [48]:
df['Sum'] = df['Male'] + df['Female']
df

           Male  Female  Sum
effect      288      36  324
No-effect   672     204  876

In [49]:
df.loc['Sum'] = [np.sum(df.iloc[:,0]), np.sum(df.iloc[:,1]), np.sum(df.iloc[:,2])]
df

           Male  Female   Sum
effect      288      36   324
No-effect   672     204   876
Sum         960     240  1200

In [50]:
df_2 = df / 1200
df_2

           Male  Female   Sum
effect     0.24    0.03  0.27
No-effect  0.56    0.17  0.73
Sum        0.80    0.20  1.00