In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from itertools import permutations, combinations
%precision 3

'%.3f'

In [2]:
patients = [0,1,2,3,4]
days = [2,5,6,4,3]

In [6]:
patients_df = pd.DataFrame(zip(patients, days), columns=['patients', 'days'])
patients_df

   patients  days
0         0     2
1         1     5
2         2     6
3         3     4
4         4     3

In [7]:
n = sum(patients_df['days'])
n

20

In [9]:
patients_df['p(x)'] = patients_df['days'] / n
patients_df

   patients  days  p(x)
0         0     2  0.10
1         1     5  0.25
2         2     6  0.30
3         3     4  0.20
4         4     3  0.15

In [11]:
patients_df['xp(x)'] = patients_df['patients'] * patients_df['p(x)']
patients_df

   patients  days  p(x)  xp(x)
0         0     2  0.10   0.00
1         1     5  0.25   0.25
2         2     6  0.30   0.60
3         3     4  0.20   0.60
4         4     3  0.15   0.60

In [12]:
mu = sum(patients_df['xp(x)'])
mu

2.050

In [13]:
patients_df['x-mu'] = patients_df['patients'] - mu
patients_df['(x-mu)^2'] = patients_df['x-mu'] ** 2
patients_df['(x-mu)^2*p(x)'] = patients_df['(x-mu)^2'] * patients_df['p(x)']
patients_df

   patients  days  p(x)  xp(x)  x-mu  (x-mu)^2  (x-mu)^2*p(x)
0         0     2  0.10   0.00 -2.05    4.2025       0.420250
1         1     5  0.25   0.25 -1.05    1.1025       0.275625
2         2     6  0.30   0.60 -0.05    0.0025       0.000750
3         3     4  0.20   0.60  0.95    0.9025       0.180500
4         4     3  0.15   0.60  1.95    3.8025       0.570375

In [14]:
var = sum(patients_df['(x-mu)^2*p(x)'])
var

1.448

In [15]:
from numpy.core.fromnumeric import std
n = 3
p = 0.3

exp = n*p 
var = n*p*(1-p)
std = np.sqrt(var)

exp, var, std

(0.900, 0.630, 0.794)

In [16]:
def comb(a,b):
    return len(list(combinations(np.arange(0,a), b)))

comb(45,6)

8145060

In [18]:
def hyper(n, r, m, x):
    return (comb(r, x) * comb(n-r, m-x)) / comb(n, m)

n = 45
r = 6
m = 6
x = 0

hyper(n, r, m, x)

0.401

In [19]:
lam = 10
pois = stats.poisson(lam)
pois.stats()

(array(10.), array(10.))

In [20]:
pois.pmf(5)

0.038